__pycache__/

deepsim.egg-info/
# ignore egg package files
.eggs/

# ignore config folder 
#executable/

# vscode config files
.vscode/

#.egg-info/
.pytest_cache/

dummy_files/
.vscode/

**/__pycache__/

# ignore cubitpy
#cubitpy

# ignore the env file
debug.env

# ignore files in surfaces folder
pydeep_sim/rough_surface/surface_database
pydeep_sim/rough_surface/surface_patches

# ignore .pdf files
*.pdf

# ignore .log files
*.log

# ignore .html files
*.html

# ignore .pickle files
*.pickle

# ignore .png files
*.png

# ignore .csv files
*.csv
