__pycache__/

imcsml.egg-info/
# ignore egg package files
.eggs/

# ignore config folder 
#executable/

# vscode config files
.vscode/

#.egg-info/
.pytest_cache/

dummy_files/
.vscode/

**/__pycache__/

