__pycache__/

deepsim.egg-info/
# ignore egg package files
.eggs/

# ignore config folder 
#executable/

# vscode config files
.vscode/

#.egg-info/
.pytest_cache/

dummy_files/
.vscode/

**/__pycache__/

# ignore cubitpy
cubitpy

# ignore the env file
debug.env
